<%- include('header') %>
<h1>Películas disponibles</h1>
<a
  class="waves-effect waves-teal btn-flat"
  style="color: #43a047"
  href="/admin/peliculas/nueva"
>
  <i class="material-icons left">add</i>
  Agregar nueva película
</a>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Resumen</th>
      <th>Año</th>
      <th>Duración</th>
      <th>Idioma</th>
      <th>Director</th>
      <th>Costo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% peliculas.forEach(p=> { %>
      <td><%= p.Nombre %></td>
      <td><%= p.Resumen %></td>
      <td><%= p.Año %></td>
      <td><%= p.Duración %> min</td>
      <td><%= p.Idioma %></td>
      <td><%= p.Director %></td>
      <td>$<%= p.Costo %></td>
      <td>
        <a href="/admin/peliculas/editar/<%= p.ID_Pelicula %>">
          <i class="material-icons left">edit</i>
          Editar
        </a>
      </td>
      <td>
        <a href="/admin/peliculas/eliminar/<%= p.ID_Pelicula %>" style="color: #c62828">
          <i class="material-icons left">delete</i>
          Eliminar
        </a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<%- include('../partials/footer') %>
